<% provide(:title, "Contact | Stomptown Dance Lessons") %>

<div class="contact">
  <h2>Contact</h2>
  <h4>Stomptown Dance Studio</h4>
  <h4>AudioCinema Building</h4>
  <h4>226 SE Madison Street, Portland, OR 97214</h4>
</div>
