<div class="row">
  <div class="col-sm-12"><h2><%= @dance.name %></h2></div>
</div>

<div class="row">
  <div class="col-sm-12"><h4><%= @dance.style %> Dance from county <%= @dance.county %>, Ireland</h4></div>
</div>

<div class="row">
  <div class="col-sm-12"><h4><%= @dance.note %></h4></div>
</div>

<div class="row">
  <div class="col-sm-8"><h4>Figure - title</h4></div>
  <div class="col-sm-2"><h4 class="tune">Tune</h4></div>
  <div class="col-sm-2"> <h4 class="bars">Bars</h4></div>
</div>

<div class="row">
  <div class="col-sm-2"><h5>All</h5></div>
  <div class="col-sm-2"><h5>Lead Around</h5></div>
  <div class="col-sm-6"><h5>All couples in crossed hand hold lead around anti-clockwise (6 bars). Dancers turn clockwise, the ladies under both raised arms (2 bars), and couples lead back to place (6 bars), face each other and 'step it out' (2 bars).</h5></div>
  <div class="col-sm-2"><h5 class="bars">8</h5></div>
</div>
