<% provide(:title, "Dances | Stomptown Dance Lessons") %>

<h1>List of Dances</h1>


<ul>
  <% @dances.each do |dance| %>
    <li><%= link_to dance.name, dance_path(dance) %></li>
  <% end %>
</ul>

<hr>
<%= link_to "New Dance", new_dance_path, class: "btn btn-primary", id: "new_dance_js", remote: true  %>
