<% provide(:title, "Courses | Stomptown Dance Lessons") %>

<% if current_user.admin? %>
  <%= link_to "New Course", new_course_path, id: "new_course_js", class: "btn btn-primary", remote: true %>
<% end %>

<%= link_to "New Dance", new_dance_path, id: "new_dance_js", class: "btn btn-primary", remote: true %>

<div class="hero-unit">
  <h1>Stomptown Dance Lessons!</h1>
  <h2>A dance learning platform</h2>
</div>

<h1>Courses</h1>

<div class="row">
  <% @courses.each do |course| %>
    <div class="col-sm-4">
      <div class="card card-block">
        <h3 class="card-title"><%= link_to course.name, course_path(course) %></h3>
        <p class="card-text"><%= course.description %></p>
      </div>
    </div>
  <% end %>
</div>
