<% provide(:title, "Courses | Stomptown Dance Lessons") %>

<h1>Courses</h1>

<ul>
  <% @courses.each do |course| %>
    <li><%= link_to course.name, course_path(course) %></li>
  <% end %>
</ul>

<%= link_to "New Course", new_course_path %>
<br>
<%= link_to "List of Dances", dances_path %>
<br>
<%= link_to "New Dance", new_dance_path %>
