@import "bootstrap-sprockets";
@import "bootswatch/readable/variables";
@import "bootstrap";
@import "bootswatch/readable/bootswatch";

// @import "font-awesome-sprockets";
// @import "font-awesome";

// HEX: #d5f4e6
// HEX: #80ced6
// HEX: #fefbd8
// HEX: #618685

// body {
//   background-color: #fefbd8;
// }

ul {
  list-style: none;
}

li {
  font-size: 1.3em;
}

.bars {
  text-align: right;
}

.tune {
  text-align: right;
}

.card-text {
  text-align: justify;
}

.hero-unit {
    background-image:url('crossroads1.jpg');
    background-size: cover;
    background-position: 0% 55%;
    background-color: #EEEEEE;
    height:500px;
  }

.hero-unit h1 {
    font-size: 60px;
    letter-spacing: -1px;
    line-height: 1;
    margin-bottom: 0;
    text-align: center;
    color: #618685;
}

.hero-unit h2 {
    font-size: 25px;
    text-align: center;
    color: #618685;
}

.fill{width:100%;height:350px;background-position:center;background-size:cover;
}

.main-container {
  margin-bottom: 60px;
}

// .btn-primary {
//   background-color: #80ced6;
// }
// .btn-primary:hover {
//   background-color: #d5f4e6;
// }
