@import "bootstrap-sprockets";
@import "bootstrap";

ul {
  list-style: none;
}

li {
  font-size: 1.3em;
}

.bars {
  text-align: right;
}

.tune {
  text-align: right;
}

.card-text {
  text-align: justify;
}
